:root {
    --primary-color: #202020;
    --light-color: #d6d6d6;
    --accent-color: #58bc80;
    --dark-color: #000000;
}

@font-face {
    font-family: 'Lemon Bold';
    src: url('fonts/LEMONMILK-Bold.otf')
}
@font-face {
    font-family: 'Lemon';
    src: url('fonts/LEMONMILK-Light.otf')
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--primary-color);
    font-family: 'Lemon';
    font-family: 'Roboto', sans-serif;
    color: var(--light-color);
    background-image: url("images/pixelbuddha-studio-LHiYkrRC77M-unsplash.webp");
}


/* Header */
.header {
    font-family: 'Lemon Bold';
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.hamburger-menu {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.hamburger-btn {
    display: none; /* hidden by default */
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px;
}

a:hover {
    color: var(--accent-color);
    text-decoration: none;
}


/* Hero */
.hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('imgs/pixelbuddha-studio-LHiYkrRC77M-unsplash.webp');
    background-size: cover;
    background-position: center;
}

.hero__button {
    padding: 10px 20px;
    background-color: var(--accent-color);
    border: none;
    border-radius: 5px;
    color: var(--dark-color);
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

button:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}


/* Content */
.content {
    max-width: 800px;
    padding: 30px 60px;
}

/* Footer */
.footer {
    display: block;
    text-align: center;
    padding: 15px;
    background-color: var(--dark-color);
    color: var(--light-color);
    margin: 0;
}

.title__tickets {
    font-family: 'lemon bold';
    font-size: 55px;
    text-align: center;
}

.ticket__search {
    font-size: 40px;
}

.lineup-grid {
            display:grid;
            grid-template-columns: repeat(3, minmax(250px, 1fr));
            gap: 25px;
            padding-bottom: 30px;
            padding: 30px 60px;
        }

        .artist-card {
            background-color: #3E2F2F;
            font-family: 'Lemon Bold';
            padding: 10px;
            border-radius: 8px;
            color: #FFFFFF;
            text-align: center;
        }

        .artist-card h3 {
            font-family: 'lemon bold';
            font-size: 30px;
            margin-bottom: 5px;
        }

        .artist-card p {
            font-size: 25 px;
            font-family: 'Lemon';
            margin-bottom: 20px;
            color: #C5B3E3;
            line-height: 15px;
        }

        .artist-card a {
            color: #8C70D2;
            font-weight: bold;
            text-decoration: none;
            margin-right: 10px;
        }

.search-form {
    display: inline;
    justify-content: center;
    width: 200px;
    height: 45px;
    padding-bottom: px;
    padding-left: 5px;
}

.search-input {
    padding: 8px 20px; 
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 250px;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: #8C70D2;
    color: white;
    cursor: pointer;
}

.search-button:hover {
    background-color: #b3005f;
}


/* Media Queries for resizing */

/*
.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--dark-color);
    padding: 15px;
}

.header__nav {
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
}

.hamburger-menu > li {
    justify-content: space-around;
    align-items: center;
}
*/


@media screen and (max-width: 800px) {
    .hamburger-btn {
        display: block; /* show button on smaller screens */
    }

    ul.hamburger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: var(--dark-color);
        transform: translateY(-10px);
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
        padding: 0;
        opacity: 0;
    }

    ul.hamburger-menu.show-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
    }

    ul.hamburger-menu li {
        padding: 10px 0;
        margin: 0;
        text-align: center;
        font-weight: 500;
        color: var(--light-color);
        font-family: 'Lemon', sans-serif;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, visibility 0s 0.3s;
    }

    nav ul.hamburger-menu.show-menu li {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in-out, visibility 0s 0s;
    }
    
    ul.hamburger-menu li:last-child {
        padding: 20px;
    }
}


@media screen and (max-width: 1300px) {
    nav > ul {
        justify-content: space-evenly;
    }

    nav > ul > li {
        margin-left: 0;
    }
}