:root {
    --light-color: #d6d6d6;
    --accent-color: #58bc80;
    --dark-color: #000000;
    --card-color: #3E2F2F; 
    --light-purple: #C5B3E3;
    --purple: #8C70D2;
    --magenta: #b3005f;
}

@font-face {
    font-family: 'Lemon Bold';
    src: url('fonts/LEMONMILK-Bold.otf')
}
@font-face {
    font-family: 'Lemon';
    src: url('fonts/LEMONMILK-Light.otf')
}

html, body {
    height: 100%; /* fix for footer position */
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--dark-color);
    font-family: 'Lemon';
    color: var(--light-color);
    background-image: url("images/darkness.png");
}

.header {
    font-family: 'Lemon Bold', sans-serif;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.main {
    display: flex;
    flex-direction: column;

    /*padding: 30px 60px;*/
    align-self: center;
    text-align: center;
    flex: 1 0 auto; /* fix for footer position */
}

.content {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.footer {
    flex-shrink: 0;
    text-align: center;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 20px;
    margin-bottom: auto;
}




/*** NAVIGATION ***/
.hamburger-menu {
    margin: 0;
    display: flex;
    align-items: center;
    list-style: none;
    width: auto;
}

.hamburger-menu.show-menu {
    display: flex; /* Show the menu when the class is added */
    flex-direction: column;
}

.hamburger-btn {
    display: none; /* hidden by default */
    background: none;
    border: none;
    cursor: pointer;
}

.hamburger-menu.open {
    display: flex; /* Display as a flex container when opened */
}

a.nav__link {
    color: var(--light-color);
    text-decoration: none;
    padding: 10px;
}

a.nav__link:hover {
    color: var(--accent-color);
    text-decoration: none;
}




/*** HOME PAGE ***/

/* Home page - Spotify preview */
.spotify__preview{
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.spotify__image {
    display: block;
    padding-bottom: 10px;
    width: 1000px;
    margin-left: 30px;
    margin-right: 30px;
}

.sfriend__button {
    padding: 10px 20px;
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
    cursor: pointer;
    text-align: center;
    font-family: 'lemon bold';
    text-decoration: none;
}
.sfriend__button:hover{
    background-color: var(--magenta);
    color: var(--light-color);
}

/* Home page - Ticketmaster Preview */
.ticketmaster__preview{
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.fticket__image {
    display: block;
    padding-bottom: 10px;
    width: 1000px;
    margin-left: 30px;
    margin-right: 30px;
}
.sticket__button {
    padding: 10px 20px;
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    color: var(--light-color);
    cursor: pointer;
    text-align: center;
    font-family: 'lemon bold';
    text-decoration: none;
}

.sticket__button:hover{
    background-color: var(--magenta);
    color: var(--light-color);
}




/*** TICKETMASTER PAGE ***/
.title__tickets {
    font-family: 'lemon bold';
    font-size: 55px;
    text-align: center;
}

.ticket__search {
    font-size: 40px;
}

.lineup-grid {
    display:grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 25px;
    padding-bottom: 30px;
    padding: 30px 60px;
}

.artist-card {
    background-color: var(--card-color);
    font-family: 'Lemon Bold';
    padding: 10px;
    border-radius: 8px;
    color: var(--light-color);
    text-align: center;
}

.artist-card h3 {
    font-family: 'lemon bold';
    font-size: 30px;
    margin-bottom: 5px;
}

.artist-card p {
    font-size: 25 px;
    font-family: 'Lemon';
    margin-bottom: 20px;
    color: var(--light-purple);
    line-height: 15px;
}

.artist-card a {
    color: var(--purple);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
}
.artist-card img {
    width: 100%;
    height: 220px;
    border-radius: 5px;
    object-fit: cover
}

.ticket-link:hover {
    color: var(--accent-color);
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
}

.search-input {
    padding: 8px 20px; 
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 250px;
    margin-right: 10px;
}

.search-button {
    padding: 8px 12px;
    background-color: var(--purple);
    color: var(--light-color);
    cursor: pointer;
    border-radius: 50px;
}

.search-button:hover {
    background-color: var(--magenta);
}




/*** SPOTIFY PAGE ***/



/* Spotify page - title and search form section */
.container__spotify {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__spotify {
    font-family: 'lemon bold';
    font-size: 55px;
    text-align: center;
}

#spotify-search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px;
}

#artist-name-search {
    margin: 10px;
}

#spotify-search-button {
    margin: 10px;
}

/* Spotify page - search results section */
.search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    /*align-items:first baseline;*/
    justify-content: space-around;
    align-self: center;
    max-width: 1200px;
    padding: 30px 60px;
}

/* Spotify page - artist card */
.artist-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-self: center;
    justify-content: center;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 8px;
    color: var(--light-color);
    text-align: center;
}

.artist-image {
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
}

.artist-info {
    height: 100%;
    width: 100%;
    align-content: flex-end;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.artist-name { 
    /* same as .artist-card h3 */
    font-family: 'lemon bold';
    font-size: 30px;
    margin: 5px 0px;
    color: var(--light-color);
    line-height: 32px;
}

.artist-link {
    font-family: 'Lemon Bold';
    color: var(--purple);
    text-decoration: none;
}

.artist-link:hover {
    color: var(--accent-color);
}

/* Spotify page - album cards */
.albums-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-evenly;
    align-content: space-between;
    margin: 20px;
    padding: 0;
}

.albums-list > li {
    display: flex;
    flex-direction: column;
    margin: 10px;
    max-width: 300px;
    /* below this point, follows .artist-card styles */
    background-color: var(--card-color);
    font-family: 'Lemon';
    /* padding: 10px; */
    border-radius: 8px;
    color: var(--light-color);
    text-align: center;
}

.album-image {
    padding: 10px;
}

.album-link {
    padding: 10px 20px 10px;
    color: var(--light-color);
    text-decoration: none;
}

.album-link:hover {
    color: var(--accent-color);
    text-decoration: none;
}




/****** MEDIA QUERIES ******/


/*** resizing for small screens ***/
@media screen and (max-width: 800px) {
    /* Navigation menu on small screens */
    .hamburger-btn {
        display: block; /* show button on smaller screens */
    }

    ul.hamburger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: var(--dark-color);
        transform: translateY(-10px);
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
        padding: 0;
        opacity: 0;
    }

    ul.hamburger-menu.show-menu {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
    }

    ul.hamburger-menu li {
        padding: 10px 0;
        margin: 0;
        text-align: center;
        font-weight: 500;
        color: var(--light-color);
        font-family: 'Lemon', sans-serif;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s ease-in-out, visibility 0s 0.3s;
    }

    nav ul.hamburger-menu.show-menu li {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.2s ease-in-out, visibility 0s 0s;
    }
    
    ul.hamburger-menu li:last-child {
        padding: 20px;
    }


    /* Ticketmaster page on small screens */
    .lineup-grid {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 20px;
    }

    .title__tickets {
        font-size: 35px;
    }

    .ticket__search {
        font-size: 28px;
    }

    .artist-card {
        padding: 15px;
    }

    .artist-card img {
        height: 180px;
        object-fit: cover;
    }

    .artist-card h3 {
        font-size: 24px;
    }

    .artist-card p {
        font-size: 18px;
    }

    .search-input {
        width: 200px;
    }

    .search-button {
        padding: 8px 10px;
        font-size: 14px;
    }

    .spotify__image {
        width: 530px;
        display: flex;
        padding-bottom: 2px;
        padding-top: 2px;

    }

    .fticket__image {
        width: 530px;
        display: flex;
        padding-bottom: 2px;
        padding-top: 2px;
    }
}

/* Media queries for resizing */
@media screen and (max-width: 800px) {
    .hamburger-btn {
        display: block; /* show button on smaller screens */
    }

    ul.hamburger-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 142px;
        left: 0;
        width: 100%;
        height: 150px;
        background-color: var(--dark-color);
        transform: translateY(-50px);
        visibility: hidden;
        transition: transform 0.3s ease-in-out, visibility 0s 0.3s;
        padding: 0;
        opacity: 0;
    }

    ul.hamburger-menu.show-menu {
        transform: translateY(50);
        opacity: 1;
        visibility: visible;
        transition: transform 0.5s ease-in-out, visibility 0s 0.3s;
    }

    ul.hamburger-menu li {
        padding: 10px 0;
        margin: 0;
        text-align: center;
        font-weight: 500;
        color: var(--light-color);
        font-family: 'Lemon', sans-serif;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    }

    nav ul.hamburger-menu.show-menu li {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
    }
    
    ul.hamburger-menu li:last-child {
        padding: 20px;
    }
}

/*** resizing for larger screens ***/
@media screen and (max-width: 1300px) {
    /* nav on larger screens */
    nav > ul {
        justify-content: space-evenly;
    }

    nav > ul > li {
        margin-left: 0;
    }
}